<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application Mode</key>
	<integer>1</integer>
	<key>Configuration Grid: Columns</key>
	<integer>9</integer>
	<key>Configuration Grid: Rows</key>
	<integer>9</integer>
	<key>Custom Controls</key>
	<array>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Apply to Overlapping Windows</key>
			<false/>
			<key>Auto-Trigger</key>
			<false/>
			<key>Auto-Trigger Display Count</key>
			<integer>1</integer>
			<key>Center Mode</key>
			<integer>0</integer>
			<key>Collapsed</key>
			<false/>
			<key>Confine to Display</key>
			<false/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>D13692CD-CE6C-4836-8412-E854370F730E</string>
				<key>Key Code</key>
				<integer>5</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>G</string>
			</dict>
			<key>Identifier</key>
			<string>D13692CD-CE6C-4836-8412-E854370F730E</string>
			<key>Loop Through Displays</key>
			<false/>
			<key>Move Delta</key>
			<integer>50</integer>
			<key>Move Direction</key>
			<integer>5</integer>
			<key>Move to Edge/Corner Direction</key>
			<integer>3</integer>
			<key>Relative Frame</key>
			<string>{{0.0027777777777777779, 0}, {0.63194444444444442, 0.99543899657924739}}</string>
			<key>Resize Anchor</key>
			<integer>10</integer>
			<key>Resize Height Unit</key>
			<integer>0</integer>
			<key>Resize Proportionally</key>
			<false/>
			<key>Resize Size</key>
			<string>{910, 873}</string>
			<key>Resize Width Unit</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Action</key>
			<integer>52</integer>
			<key>Apply to Overlapping Windows</key>
			<false/>
			<key>Auto-Trigger</key>
			<false/>
			<key>Auto-Trigger Display Count</key>
			<integer>1</integer>
			<key>Center Mode</key>
			<integer>0</integer>
			<key>Collapsed</key>
			<false/>
			<key>Confine to Display</key>
			<false/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>0D134024-6430-469C-9774-15B090BA8CB5</string>
				<key>Key Code</key>
				<integer>5</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>G</string>
			</dict>
			<key>Identifier</key>
			<string>0D134024-6430-469C-9774-15B090BA8CB5</string>
			<key>Loop Through Displays</key>
			<false/>
			<key>Move Delta</key>
			<integer>5000</integer>
			<key>Move Direction</key>
			<integer>7</integer>
			<key>Move to Edge/Corner Direction</key>
			<integer>5</integer>
			<key>Relative Frame</key>
			<string>{{0.37708333333333333, 0.27023945267958949}, {0.41319444444444442, 0.64424173318129985}}</string>
			<key>Resize Anchor</key>
			<integer>10</integer>
			<key>Resize Height Unit</key>
			<integer>0</integer>
			<key>Resize Proportionally</key>
			<false/>
			<key>Resize Size</key>
			<string>{595, 565}</string>
			<key>Resize Width Unit</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Apply to Overlapping Windows</key>
			<false/>
			<key>Auto-Trigger</key>
			<false/>
			<key>Auto-Trigger Display Count</key>
			<integer>1</integer>
			<key>Center Mode</key>
			<integer>0</integer>
			<key>Collapsed</key>
			<false/>
			<key>Confine to Display</key>
			<false/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>3C5EB374-BA1B-43DB-956C-D1AE18282A65</string>
				<key>Key Code</key>
				<integer>32</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>U</string>
			</dict>
			<key>Identifier</key>
			<string>3C5EB374-BA1B-43DB-956C-D1AE18282A65</string>
			<key>Loop Through Displays</key>
			<false/>
			<key>Move Delta</key>
			<integer>50</integer>
			<key>Move Direction</key>
			<integer>5</integer>
			<key>Move to Edge/Corner Direction</key>
			<integer>3</integer>
			<key>Relative Frame</key>
			<string>{{0.37708333333333333, 0.27023945267958949}, {0.41319444444444442, 0.64424173318129985}}</string>
			<key>Resize Anchor</key>
			<integer>10</integer>
			<key>Resize Height Unit</key>
			<integer>0</integer>
			<key>Resize Proportionally</key>
			<false/>
			<key>Resize Size</key>
			<string>{595, 565}</string>
			<key>Resize Width Unit</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Apply to Overlapping Windows</key>
			<false/>
			<key>Auto-Trigger</key>
			<false/>
			<key>Auto-Trigger Display Count</key>
			<integer>1</integer>
			<key>Center Mode</key>
			<integer>0</integer>
			<key>Collapsed</key>
			<false/>
			<key>Confine to Display</key>
			<false/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>14977DF9-FD54-483A-9543-F926875D4C54</string>
				<key>Key Code</key>
				<integer>33</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>[</string>
			</dict>
			<key>Identifier</key>
			<string>14977DF9-FD54-483A-9543-F926875D4C54</string>
			<key>Loop Through Displays</key>
			<false/>
			<key>Move Delta</key>
			<integer>50</integer>
			<key>Move Direction</key>
			<integer>5</integer>
			<key>Move to Edge/Corner Direction</key>
			<integer>9</integer>
			<key>Relative Frame</key>
			<string>{{0.37708333333333333, 0.27023945267958949}, {0.41319444444444442, 0.64424173318129985}}</string>
			<key>Resize Anchor</key>
			<integer>10</integer>
			<key>Resize Height Unit</key>
			<integer>0</integer>
			<key>Resize Proportionally</key>
			<false/>
			<key>Resize Size</key>
			<string>{595, 565}</string>
			<key>Resize Width Unit</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Apply to Overlapping Windows</key>
			<false/>
			<key>Auto-Trigger</key>
			<false/>
			<key>Auto-Trigger Display Count</key>
			<integer>1</integer>
			<key>Center Mode</key>
			<integer>0</integer>
			<key>Collapsed</key>
			<false/>
			<key>Confine to Display</key>
			<false/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>05912F5B-C285-4B1C-9A20-3D5485A8102E</string>
				<key>Key Code</key>
				<integer>30</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>]</string>
			</dict>
			<key>Identifier</key>
			<string>05912F5B-C285-4B1C-9A20-3D5485A8102E</string>
			<key>Loop Through Displays</key>
			<false/>
			<key>Move Delta</key>
			<integer>50</integer>
			<key>Move Direction</key>
			<integer>5</integer>
			<key>Move to Edge/Corner Direction</key>
			<integer>5</integer>
			<key>Relative Frame</key>
			<string>{{0.37708333333333333, 0.27023945267958949}, {0.41319444444444442, 0.64424173318129985}}</string>
			<key>Resize Anchor</key>
			<integer>10</integer>
			<key>Resize Height Unit</key>
			<integer>0</integer>
			<key>Resize Proportionally</key>
			<false/>
			<key>Resize Size</key>
			<string>{595, 565}</string>
			<key>Resize Width Unit</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Apply to Overlapping Windows</key>
			<false/>
			<key>Auto-Trigger</key>
			<false/>
			<key>Auto-Trigger Display Count</key>
			<integer>1</integer>
			<key>Center Mode</key>
			<integer>0</integer>
			<key>Collapsed</key>
			<false/>
			<key>Confine to Display</key>
			<false/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>AE2944D5-1790-469E-9E9C-BCE43C6C24EF</string>
				<key>Key Code</key>
				<integer>2</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>D</string>
			</dict>
			<key>Identifier</key>
			<string>AE2944D5-1790-469E-9E9C-BCE43C6C24EF</string>
			<key>Loop Through Displays</key>
			<false/>
			<key>Move Delta</key>
			<integer>50</integer>
			<key>Move Direction</key>
			<integer>5</integer>
			<key>Move to Edge/Corner Direction</key>
			<integer>7</integer>
			<key>Relative Frame</key>
			<string>{{0.37708333333333333, 0.27023945267958949}, {0.41319444444444442, 0.64424173318129985}}</string>
			<key>Resize Anchor</key>
			<integer>10</integer>
			<key>Resize Height Unit</key>
			<integer>0</integer>
			<key>Resize Proportionally</key>
			<false/>
			<key>Resize Size</key>
			<string>{595, 565}</string>
			<key>Resize Width Unit</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Dismiss After Other</key>
	<false/>
	<key>Keyboard Controls</key>
	<dict>
		<key>Identifier</key>
		<string>Keyboard Controls</string>
		<key>Key Code</key>
		<integer>53</integer>
		<key>Modifier Flags</key>
		<integer>524608</integer>
		<key>Visual Representation</key>
		<string>⌥Escape</string>
	</dict>
	<key>Keyboard Controls Grid</key>
	<true/>
	<key>Mouse Controls Grid</key>
	<true/>
	<key>Mouse Controls Grid: Columns</key>
	<integer>9</integer>
	<key>Mouse Controls Grid: Mode: Show Dialog</key>
	<false/>
	<key>Mouse Controls Grid: Rows</key>
	<integer>9</integer>
	<key>Mouse Controls Include Custom Controls</key>
	<true/>
	<key>Mouse Controls Include Custom Controls: Show On Hover</key>
	<true/>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>20906</real>
	<key>NSToolbar Configuration Preferences (Independent) 3174</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>1082 345 384 129 0 0 1440 877 </string>
	<key>PMSparkleWrapper Status</key>
	<dict>
		<key>Check Date</key>
		<integer>1562312873</integer>
		<key>Current Version</key>
		<string>3.2.14</string>
		<key>Update Version</key>
		<string></string>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2019-07-05T07:47:52Z</date>
	<key>Show Cheat Sheet</key>
	<true/>
	<key>Snap</key>
	<false/>
	<key>Stealth Mode</key>
	<true/>
</dict>
</plist>
